.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #23263b;
  color: #fff;
  gap: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  gap: 24px;
}

.positionContainer {
  display: flex;
  background: url(./../../Assets/mask.svg) no-repeat, #23263b;
  height: 180px;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  padding: 0 40px;
}

.positionHeader {
  color: var(--text-positive, #0ecc83);
  font-family: Inter-Tight;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.positionAmount {
  color: var(--text-body, #fff);
  font-family: Inter-Tight;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.stats1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  scale: 0.9;
}

.stats2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  scale: 0.9;
}

.stat {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-neutral, #a9a9b0);
  font-family: Inter-Tight;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 2px solid #23263b;
}

.buttonGroup {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.closePositionButton {
  display: flex;
  width: 160px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent;
  border-radius: 4px;
  color: #fff;
  font-family: Inter-Tight;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  border: 2px solid #23263b;
}

.closePositionButton:hover {
  background: #23263b;
  border: 2px solid #23263b;
}
