*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-modal-content {
  background: #191b35 !important;
  border-radius: 8px !important;
}

.ant-modal-content ul {
  background: #191b35 !important;
  border-radius: 8px !important;
}

.ant-menu-item-only-child span {
  color: #ffffff !important;
}

.ant-menu-item-only-child button {
  background: #191b35 !important;
}

.wallet-button {
  background: #191b35 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
  border: 1px solid #ffffff !important;
  font-family: Inter-Tight !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 10px 20px !important;
}

.wallet-modal-title {
  background: #191b35 !important;
  color: #ffffff !important;
}

.wallet-button:hover {
  background: #242944 !important;
  border-radius: 4px !important;
  border: 1px solid #ffffff !important;
}

.ant-table-cell-row-hover {
  background: #242944 !important;
}

.css-1eoe787-MuiSlider-markLabel {
  color: #ffffff !important;
  opacity: 0.5 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.css-yafthl-MuiSlider-markLabel {
  color: #ffffff !important;
  opacity: 0.5 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
